<a href="https://colab.research.google.com/github/nivedha75/Columbia-Summer-Coursework/blob/master/pandasintro_student.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Pandas**

*   a high-level data manipulation tool
*   create and analyze dataframes and data series
*   [User Guide](https://pandas.pydata.org/docs/user_guide/index.html)

### Loading Data



```
import pandas
import pandas as pd
```

```
from google.colab import drive
drive.mount('/content/gdrive')
```

```
df = pd.read_csv('/content/gdrive/My Drive/titanic.csv')
```

### Viewing the dataframe

```
df.head(10)
df.tail(5)
df
```

### Dataframe Methods



```
df.describe()
df.shape
df.dtypes
df.index
df.columns
df[['Name','Survived']]
```

### Series Methods

```
df['Name']
df.Name
df.Survived.value_counts()
df.Age.mean()
```

### Extracting Rows

Using index values:
```
df.loc[0:5]
```

Using the order of observations:
```
df.iloc[0:5]
```

```
df.loc[df.Age > 25]
```

```
df.loc[df.Age > 25]['Name']
```

```
df.loc[df['Name'].isnull()]
```

```
df.loc[~df['Name'].isnull()]
```



```
df.loc[(df.Age > 25) | (df.Age < 45)]
```

Give the names of all the titanic disaster survivors.

Give the mean ages of those who did not survive the disaster. Do the same for those who survived.

Setting a new dataframe to include only filtered observations:



```
df = df.loc[df.Age > 25]
```

### Choosing Columns Using List Comprehension


```
allcols = list(df)
df[allcols]
[x for x in allcols if x!= 'Age']
[x for x in allcols if x not in ['Age','Fare']]
df[[x for x in allcols if x!= 'Age']]
```

### Operations on Pandas series

```
df['Age']/2
```

```
df['newage'] = df['Age']/2
```



```
df['familysize'] = df['Siblings/Spouses Aboard'] + df['Parents/Children Aboard']
```

### Simple plots

```
df.plot(kind= 'scatter', x = 'Age', y = 'Fare')
```

```
df['Age'].hist()
```

```
df.boxplot(column=['Age'])
```

### Explore

Explore other useful Pandas functions



*   [Join](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.join.html)
*   [Merge](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.merge.html)
*   [Append](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.append.html)
*   [GroupBy](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.groupby.html)

### Challenge

The Boston Housing Dataset originates from the UCI Machine Learning Repository. The Boston housing data was collected in 1978 and each of the 506 entries represent aggregated data about 14 features for homes from various suburbs in Boston, Massachusetts.

[Data Dictionary](http://math.furman.edu/~dcs/courses/math47/R/library/mlbench/html/BostonHousing.html)

Find the dataset on the Syllabus Page on Canvas. 



*   Load the Boston Dataset
*   Check the size of the dataset
*   Create a simple plot comparing the crime rate and pupil-teacher ratio.
*   Create two new dataframes, one with all observations where the crime rate is greater than 1 and one with all observations where the crime rate is less than 1. 
*   Compare the average pupil-teacher ratio for the two groups.