<a href="https://colab.research.google.com/github/nivedha75/Columbia-Summer-Coursework/blob/master/python_student.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. Print

```
print('Hello')
print("Hello")
```

**Exercise 1**

Print the words 'Hello, World', without quotes, by entering a command in the Console.

**Exercise 2**

Write a print command that has the following output:

She says “Hello, World.”

# 2. Data Types, Variables, and Operators

## Object Types

A Python object is an instance of information that the computer will use in a command or program. A function performs a single action using objects. 
```
type('Hello, world')
type(1)
type(1.1)
```

Test out what happens when you run all 3 lines of code above together.

## Variables

You can define variables to serve as placeholders. 

```
a = "Hello World"
a
```

**Exercise 3**

What is the output of print(a)? Check by running the command.

**Exercise 4**

Run the outputs for print(type(a)) and type(print(a)). What is the difference between them?

**Exercise 5**

```
a = "Hello, World"
a = 3
```
 
What do you think is the output of type(a)? Run and check.

## Boolean Operators

```
a = 2
b = 5
```

Test out these Boolean Operators. What do they do?

```
a == b
a != b
a < b
a <= b
a >= b 
a > b
```

**Exercise 6**

What do you think is the output for the following? Run it and check.
```
type(3.2) == float
```

### Non-Boolean Operators

Test out the following Operators:
```
2 + 3
2 – 3
2 * 3
10 / 3
```

**Exercise 7**
```
a = 2
b = 5
c = 'Hello'
d = 'World'

a+b
c+d
a+c
```

What is the output for each of the last three commands? Run and check.

**Exercise 8**

How would you get the output 'Hello World' from the variables in Exercise 7?

**Exercise 9**

Use variable a, variable b, a boolean operator, and a non-boolean operator
to create a command with a True output.

# 3. Lists and Strings

## Lists
```
[1,5,6,4,8]
["hi", "hello","hey"]
["hi", 5, "hello", 8,"hey"]
```

**Exercise 10**

```
[1,5,6,4,8]
["hi", "hello","hey"]
["hi", 5, "hello", 8,"hey"]
```
Set the first list above to a variable.

## List Operations



```
[1,2,3] + [4,5,6]
a = [1,2,3]
b = [4,5,6]
c = a+b
c
a+[4,5,6]
```

## List Methods

A method is a function that belongs to an indicated object. In this case, the append and remove methods belong to list a and can generally be applied to list objects.



```
a = [ ]
a.append("Hey")
a.append("Hi")
a
a.remove("Hey")
a
```

## Indexing

```
a = ["Hi","Hello","Hey","Howdy"]

"Hi" is in index 0.
"Hello" is in index 1.
"Hey" is in index 2.
"Howdy" is in index 3, and so on.
```


```
a = ["Hi","Hello","Hey","Howdy"]
a[0]
a[0:1]
a[0:2]
a[:2]
a[1:3]
a[-1]
a[-3:-1]
a[-3:]
```



```
a = [1,2,3,8,8]
a.index(8)
```

**Exercise 11**

Create any list b. Use indexing to define a list c that contains only the last two elements of list b.

## Nested Lists

```
[ [1,2,3], [4,5,6], [7,8,9] ]
a = [1,2,3]
b = [4,5,6]
c = [7,8,9]
d = [a,b,c]
d
d[1][0]

```

**Exercise 12**

```
a = [1,2,3]
b = [4,5,6]
c = [7,8,9]
d = [a,b,c]
```

Access the second element in list a from list d.

## String Indexing

```
a = "Hello, how are you?"

a[0]
a[0:5]
a[0:5] + a[-4:]
```

**Exercise 13**

```
a = ["hi","hello","hey","howdy"]
```

Create a string b that combines the first two letters of each string element in list a using indexing.

# 4. If Statements & For Loops

## If Statements


```
a = 2
b = 4

if a == b:
  print(a)
```

**Exercise 14**

```
a = 2
b = 4

if a == b:
  print(a)
```

Modify the code above so that the if condition is met and the output gives us a.


```
if a == b:
  print(a)
else:
  print("Not equal")
```

**Exercise 15**

What the output will be if you run the lines below?

```
a = 1
b = 2
c = 3

if a > b:
  a = a + b
  print(a)
else:
  print(b)
print(a)
```

## Elif

```
if a == b:
  print(a+b)
elif a > b:
  print(a)
else: 
  print(b)
```

## For loops

```
a = [1,2,3,4,5,6]

for i in a:
  print(i)

for i in a:
  print(i + 2)
```

**Exercise 16**

```
a = [1,2,3,4,5,6]
```

Create a for loop that prints only the first 3 elements of list a above.



```
for i in a:
  if i > 2:
    print(i)

b = [4,5]

for i in a:
  if i not in b:
    print(i)
```

**Exercise 17**

```
a = [1,2,3,"Hello",4,5,"Hi",6]
```

Use a for loop and if statement to print out only the strings in list a.

**Exercise 18**

```
a = [1,2,3,"Hello",4,5,"Hi",6]
```
Create an empty list b. Use a for loop and if statement to add all string elements in list a above to list b.

**Exercise 19**

Add one line to the output from exercise 18 to also remove all string elements from list a.

# 5. Dictionaries, Import

## Dictionaries
```
dct1 = {'cat': 'feline', 'dog': 'canine'}
dct1.keys()
dct1.values()
dct1['cat']
```

**Exercise 20**
```
2**2
4
```
Create a dictionary using numbers 1-5 as keys and their square power as values. Use this dictionary to find the square power of 3.

```
dct1['wolf'] = 'canine'
dct1
```

**Exercise 21**

The values in dictionary entries can come in many data types. Modify the value of the entry for ‘cat’ to a list of characteristics of a cat.

**Exercise 22**

Combine your knowledge of indexing dictionaries and lists to output the first element of the list that is the dictionary value for the key 'cat.'

## Import

```
import random

a = [1,2,4,5,6]
random.shuffle(a)
a
```

```
from random import shuffle

a = [1,2,4,5,6]
shuffle(a)
a
```

**Exercise 23**

The randint(a,b) function in the random module gives you a random integer between numeric a and numeric b. Find a random integer between 1 and 10.

```
import os
os.getcwd()
```

**Exercise 24**

Set the string with the current directory to a variable. Set a new variable that is only the last 5 characters of the string.

# 6. Open/Close, Input

## Open/Close

```
mytxt = open("mytxtfile.txt","w")

mytxt.write("Hello.\n") 
mytxt.write("I made a new text file.")

mytxt.close()
```

**Exercise 25**

Create a variable and assign a string to it. Write a command so that the value of that variable is written as the next line in the mytxtfile file.

Create a text file by typing the words "This is a text file." in a text editor or even in Spyder by opening up a new file and using Save As -> .txt. Save the text file as mynewtextfile in the same directory as skill6.py.

```
mytxt = open("mynewtextfile.txt", "r") 
a = mytxt.read()
mytxt.close()
a
```

## Input

```
name = input("Enter your name: ")
print(name)
```

```
name = input("Enter your name: ")
greeting = "Welcome, " + name
print(greeting)
```

**Exercise 26**

```
petnames = {'daisy' : 'cat', 'fluffy' : 'dog', 'speedy' : 'turtle'}
```
Create an input variable called pet that asks for a pet's name. Print the pet type when a pet name is entered from the dictionary.

**Exercise 27**
```
petnames = {'daisy' : ['cat', 1, 'gray'], 
'fluffy' : ['dog', 5, 'black'], 
'speedy' : ['turtle', 5, 'green']}
```

Create a set of commands that will give you the same output as Exercise 2 using the new dictionary.

**Exercise 28**

Using strings and operators, build and output a sentence that includes all characteristics of a pet when you enter a pet name. 

*Hint: You will need to convert the age from a numeric data type to a string using the str function.*
```
str(age)
```

**Exercise 29**

Modify Exercise 4's code so that the program checks if the pet name is in the dictionary. 
If the name is not in the dictionary, the code will print "Pet not in dictionary." 
Or else the program will output the sentence from Exercise 4.

# 7. User-defined Functions

```
def addtwo(mynum):
  result = mynum + 2
  return(result)

a = 2
addtwo(a)
```

**def** lets the program know that you are about to define a function. 
addtwo is the name given to this function. 


**mynum** is a placeholder for the object used inside this function. An object pulled from outside of this function is represented by variable mynum inside the function.

**return** denotes what the output will be when the function is executed.

**Exercise 30**

Create a function that takes a string and outputs the first letter of the string. Execute the function using any string.

```
a = 2
b = 3

def subtract(num1,num2):
  result = num1 - num2
  return(result)

subtract(a,b)
subtract(2,3)
```

**Exercise 31**

Determine how you would subtract a from b.

```
subtract(num1 = a, num2 = b)
subtract(num1 = b, numb2 = a)
```

**Exercise 32**

Modify your function from Exercise 1 so that a new entry is created in mystringdict with the string as the entry key and the first letter of the string as the entry value.

Have the function return mystringdict. 

Execute the function using any string.

Treat user-defined functions like any function you previously learned.

```
mystringdict = {}

def firstletter(mystring):
  firstletter = mystring[0]
  return(firstletter)

firstletter('ThisString')

a = ['cat','dog','turtle']

for i in a:
  print(firstletter(i))
```